<section class="main-wrap">
  <div class="card-body">
    <div class="table-responsive">
      <div class="table-responsive">
        <table class="table align-middle table-nowrap mb-0">
          <% if(response.length==0){%>
          <div class="d-flex justify-content-center">
            <img src="/assets/imgs/banners/empty-cart-1546860808" alt="" />
          </div>
          <%} else{%>
          <thead class="table-light">
            <tr>
              <th class="align-middle" scope="col">Title</th>
              <th class="align-middle" scope="col">Description</th>
              <th class="align-middle" scope="col">Image</th>
              <th class="align-middle" scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <% response?.forEach(function(response) { %>
            <tr>
              <td>
                <a href="#" class="fw-bold text-dark"> <%=response?.Title%></a>
              </td>

              <td><%=response.Description%></td>
              <td>
                <img
                  src="/images/<%=response?.Image%>"
                  alt=""
                  style="width: 100px; height: 100px"
                />
              </td>
              <td>
                <a
                  href="/admin/edit-banner?banner=<%=response._id%>"
                  class="btn btn-primary bg-dark "
                >
                  Edit Banner
                </a>
                <a
                  href=""
                  onclick="deleteBanner('<%=response._id%>');Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Banner deleted Successfully',
                    showConfirmButton: false,
                    timer: 2000
                  })"
                  class="btn"
                >
                  <i class="fa-solid fa-trash-can"></i>
                </a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <%}%>
      </div>
    </div>
  </div>
</section>

<script>
  function deleteBanner(bannerId) {
    $.ajax({
      url: "/admin/delete-banner",
      data: { bannerId },
      method: "put",
      success: (response) => {
        if (response.status) {
          location.reload();
        }
      },
    });
  }
</script>
