<% if(!data){ %>
  <div class="container-fluid  mt-100">
  
       
       
         
    <div class="card-body cart">
        <div class="col-sm-12 empty-cart-cls text-center">
          <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
          <h3><strong>Nothing to show</strong></h3>
          <br>
          <h4>No products to show:)</h4>
          <a href="/shop" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
          
        
        </div>
    </div>
</div> 
    
  
  </div>
 
 </div>

</div>


<style>
 
 @import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

body {
 background-color: #eee;
 font-family: 'Calibri', sans-serif !important;
}

.mt-100{
margin-top:100px;

}


.card {
 margin-bottom: 30px;
 border: 0;
 -webkit-transition: all .3s ease;
 transition: all .3s ease;
 letter-spacing: .5px;
 border-radius: 8px;
 -webkit-box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
 box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
}

.card .card-header {
 background-color: #fff;
 border-bottom: none;
 padding: 24px;
 border-bottom: 1px solid #f6f7fb;
 border-top-left-radius: 8px;
 border-top-right-radius: 8px;
}

.card-header:first-child {
 border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}



.card .card-body {
 padding: 30px;
 background-color: transparent;
}

.btn-primary, .btn-primary.disabled, .btn-primary:disabled {
 background-color: #4466f2!important;
 border-color: #4466f2!important;
}
</style>
 <%}else{%>


<section>
  
  <div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
      <div class="mobile-header-top">
        <div class="mobile-header-logo">
         
        </div>
        <div
          class="mobile-menu-close close-style-wrap close-style-position-inherit"
        >
          <button class="close-style search-close">
            <i class="icon-top"></i>
            <i class="icon-bottom"></i>
          </button>
        </div>
      </div>
      <div class="mobile-header-content-area">
        <div class="mobile-search search-style-3 mobile-header-border">
          <form action="/search">
            <input type="text" placeholder="Search for items…" />
            <button type="submit"><i class="fi-rs-search"></i></button>
          </form>
        </div>
        <div class="mobile-menu-wrap mobile-header-border">
          <!-- mobile menu start -->
          <nav>
            <ul class="mobile-menu">
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="/">Home</a>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="/shop">Shop</a>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="/orders">Orders</a>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="/profile">Profile</a>
              </li>
            </ul>
          </nav>
          <!-- mobile menu end -->
        </div>
       
     
      </div>
    </div>
  </div>
  <main class="main">
    <section class="mt-50 mb-50">
      <div class="container">
        <div class="row flex-row-reverse">
          <div class="col-lg-9">
            <div class="shop-product-fillter">
              <div class="totall-product">
              
              </div>
              <form id="sort-form" method="POST" action="/sort">
                <div class="sort-container">
                  <select
                  id="sort-select"
                  name="selectedValue"
                  onchange="this.form.submit()"
                  >
                    <option value=""><a href="#">Filter by Price</a></option>
                    <option value="price-low-to-high">
                      <a href="#">Price: Low to High</a>
                    </option>
                    <option value="price-high-to-low">
                      <a href="#">Price: High to Low</a>
                    </option>
                  </select>
                </div>
              </form>
            </div>
            <div class="row product-grid-4">
              <% data.forEach(function(data){ %>
                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="/fullImage/<%=data._id%>">
                          <img
                            class="default-img"
                            src="/images/<%=data.Image[0]%>" style="height: 200px;"
                            alt=""
                          />
                          <!-- <img
                            class="hover-img"
                            src="/images/<%=data.Image%>"
                            alt=""
                          /> -->
                        </a>
                      </div>
                      <div class="product-action-1">
                     
                        <div class="product-action-1">
                          <button
                            type="button"
                            aria-label="Add To Wishlist"
                            class="action-btn hover-up"
                            onclick="addToWishlist('<%=data._id%>')
                          Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Product is successfully added to wishlist',
                            showConfirmButton: false,
                            timer: 1500
                          })"
                          >
                            <i class="fi-rs-heart"></i>
                          </button>
                        </div>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <!-- <span class="hot">Hot</span> -->
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="/fullImage/<%=data._id%>"><%=data.Category%></a>
                      </div>
                      <h2>
                        <a href="/fullImage/<%=data._id%>"
                          ><%=data.ProductName%></a
                        >
                      </h2>
                      <!-- <div class="rating-result" title="90%">
                        <span>
                          <span>90%</span>
                        </span>
                      </div> -->
                      <div class="product-price ">
                        <span class="text-dark">₹<%=data.OfferPrice%></span>
                        <span class="old-price">₹<%=data.Price%></span>
                      </div>
                      <div class="product-action-1 show">
                          <% if(data.Quantity>0){ %>
                          <button
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                            onclick="addToCart('<%= data._id %>'); Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Item Added Successfully To Cart',
                            showConfirmButton: false,
                            timer: 2000
                          })"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></button>
                       <%}else{ %>
                          <p class="text-danger" style="font-size: 12px;">out-of-stock</p>
                       <% } %>
                   
                      </div>
                    </div>
                  </div>
                </div>
                <% }) %>
              </div>
            <!--pagination-->
            <div class="mt-15 mb-sm-5 mb-lg-0">
              <nav aria-label="">
                <ul class="pagination justify-content-center">
                  <nav aria-label="Page">
                    <ul class="pagination">
                      <% for(let i=0;i<pages;i++) { %>
                        <li class="page-item"><a class="page-link bg-dark text-light rounded-circle" href="/shop?page=<%=i+1%>"><%=i+1%></a></li>
                      <% } %>
                    </ul>
                    
                  </nav>
            
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-lg-3 primary-sidebar sticky-sidebar">
            <div class="widget-category mb-30">
              <h5 class="section-title style-1 mb-30 wow fadeIn animated">
                Category
              </h5>
              <ul class="categories">
                <% category.forEach(function(data){ %>

             
                <li><a href="/get-categoryProducts/<%=data._id%>" ><%=data.Name%></a></li>
                <% }) %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- Preloader Start -->
  <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
        <div class="text-center">
          <h5 class="mb-5">TIMES HUB</h5>
          <div class="loader">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%}%>

<script>
  function addToCart(proId){
    $.ajax({
      url:'/addToCart/'+proId,
      method:'get',
       success:(response)=>{
        if(response.status){
          let count=$('#cartCount').html()
          count = parseInt(count)+1;
          $('#cartCount').html(count)
        }
       }
    })
  }

  function addToWishlist(proId){
    $.ajax({
      url:'/wish-list/'+proId,
      method:'get',
      success:(response)=>{
        if(response.status){
          let count =$('#wishListCount').html()
          count = parseInt(count)+1
          $('#wishListCount').html(count)
        }

      }
    })
  }


</script>
