<!-- Quick view -->
<section>

  <div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
      <div class="mobile-header-top">
        <div class="mobile-header-logo">
          <!-- <a href="index.html"
            ><img src="assets/imgs/theme/logo.svg" alt="logo"
          /></a> -->
        </div>
        <div
          class="mobile-menu-close close-style-wrap close-style-position-inherit"
        >
          <button class="close-style search-close">
            <i class="icon-top"></i>
            <i class="icon-bottom"></i>
          </button>
        </div>
      </div>
      <div class="mobile-header-content-area">
        <div class="mobile-search search-style-3 mobile-header-border">
          <form action="/search">
            <input type="text" placeholder="Search for items…" />
            <button type="submit"><i class="fi-rs-search"></i></button>
          </form>
        </div>
        <div class="mobile-menu-wrap mobile-header-border">
          <div class="main-categori-wrap mobile-header-border">
            <a class="categori-button-active-2" href="#">
              <span class="fi-rs-apps"></span> Browse Categories
            </a>
            <div class="categori-dropdown-wrap categori-dropdown-active-small">
              <ul>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-dress"></i>Women's Watches</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-tshirt"></i>Men's Watches</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- mobile menu start -->
          <nav>
            <ul class="mobile-menu">
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="/">Home</a>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="/shop">Shop</a>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="/orders">Orders</a>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="/profile">Profile</a>
              </li>

            
            </ul>
          </nav>
          <!-- mobile menu end -->
        </div>
    
        </div>
        
      </div>
    </div>
  </div>

    <section class="home-slider position-relative mb-30">
      <div class="container">
          <div class="home-slide-cover mt-30">
              <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                  <div class="single-hero-slider single-animation-wrap">
                      <div class="container">
                          <div class="row align-items-center slider-animated-1">
                              <div class="col-lg-5 col-md-6">
                                <div class="hero-slider-content-2">
                                  <h4 class="animated">Luxury Watches</h4>
                                  <h3 class="animated fw-900">Supper Value Deals</h3>
                                  <h3 class="animated fw-900 text-brand">
                                    On All Watches
                                  </h3>
                                 
                                  <a
                                    class="animated btn btn-brush btn-brush-3"
                                    href="/shop"
                                  >
                                    Shop Now
                                  </a>
                                </div>
                              </div>
                              <div class="col-lg-7 col-md-6">
                                  <div class="single-slider-img single-slider-img-1">
                                      <img width="100%" height="100%" class="animated" src="https://images.unsplash.com/photo-1548359638-e51353ca6d34?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80" alt="" style="object-fit: cover;">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="single-hero-slider single-animation-wrap">
                      <div class="container">
                          <div class="row align-items-center slider-animated-1">
                              <div class="col-lg-5 col-md-6">
                                  <div class="hero-slider-content-2">
                                      <h4 class="animated">Hot Deals</h4>
                                      <h3 class="animated fw-900">Fashion Trending</h3>
                                      <h2 class="animated fw-900 text-brand">Great Collection</h2>
                                      <p class="animated">Save more with coupons & up to 20% off</p>
                                      <a class="animated btn btn-brush btn-brush-1" href="/shop" tabindex="0"> Get It Now </a>
                                  </div>
                              </div>
                              <div class="col-lg-7 col-md-6">
                                  <div class="single-slider-img single-slider-img-1">
                                      <img width="100%" height="100%" class="animated" src="https://images.unsplash.com/photo-1619346270223-c137f4052523?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fHdhdGNofGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="" style="object-fit: cover;">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="slider-arrow hero-slider-1-arrow"></div>
          </div>
      </div>
  </section>

  <section class="banners mb-20 ">
      <div class="container mt-15">
          <div class="row">
              <div class="col-lg-4 col-md-6">
                  <div class="banner-img wow fadeIn animated">
                      <img src="https://images.unsplash.com/photo-1507428861205-e8aab693190e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTN8fHdhdGNofGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="border-radius:5px;" alt="">
                      <div class="banner-text text-light">
                          <span class="text-light">Smart Offer</span>
                          <h4 class="text-light">Save 20% on <br>Woman Bag</h4>
                          <a href="/shop" class="text-light  btn btn-sm bg-light text-dark ">Shop Now <i class="fi-rs-arrow-right"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="banner-img wow fadeIn animated">
                      <img src="https://images.unsplash.com/photo-1605143185597-9fe1a8065fbb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njh8fHdhdGNofGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="border-radius:5px;"  alt="">
                      <div class="banner-text">
                          <span class="text-light">Sale off</span>
                          <h4 class="text-light"> Great Summer <br>Collection</h4>
                          <a  class="text-light btn btn-sm bg-light text-dark " href="/shop">Shop Now <i class="fi-rs-arrow-right"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 d-md-none d-lg-flex">
                  <div class="banner-img wow fadeIn animated  mb-sm-0">
                      <img src="https://images.unsplash.com/photo-1591352254932-6d56d9fe295b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTE0fHx3YXRjaHxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60" style="border-radius:5px;"  alt="">
                      <div class="banner-text">
                          <span class="text-light">New Arrivals</span>
                          <h4 class="text-light">Shop Today’s <br>Deals & Offers</h4>
                          <a class="text-light  btn btn-sm bg-light text-dark " href="/shop">Shop Now <i class="fi-rs-arrow-right"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
    <section class="product-tabs section-padding wow fadeIn animated">
      <div class="container">
      
        <div class="tab-content wow fadeIn animated" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="tab-one"
            role="tabpanel"
            aria-labelledby="tab-one"
          >
          <div class="row product-grid-4">
            <% data.forEach(function(data){ %>
              <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="/fullImage/<%=data._id%>">
                        <img
                          class="default-img"
                          src="/images/<%=data.Image[0]%>" style="height: 200px;"
                          alt=""
                        />
                        <!-- <img
                          class="hover-img"
                          src="/images/<%=data.Image%>"
                          alt=""
                        /> -->
                      </a>
                    </div>
                    <div class="product-action-1">
                      <button
                        type="button"
                        aria-label="Add To Wishlist"
                        class="action-btn hover-up"
                        onclick="addToWishlist('<%=data._id%>')
                      Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Product is successfully added to wishlist',
                        showConfirmButton: false,
                        timer: 1500
                      })"
                      >
                        <i class="fi-rs-heart"></i>
                      </button>
                    </div>
                    <div
                      class="product-badges product-badges-position product-badges-mrg"
                    >
                      <span class="hot">Hot</span>
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a href="/fullImage/<%=data._id%>"><%=data.Category%></a>
                    </div>
                    <h2>
                      <a href="/fullImage/<%=data._id%>"
                        ><%=data.ProductName%></a
                      >
                    </h2>
                    <!-- <div class="rating-result" title="90%">
                      <span>
                        <span>90%</span>
                      </span>
                    </div> -->
                    <div class="product-price">
                      <span>₹<%=data.OfferPrice%></span>
                      <span class="old-price">₹<%=data.Price%></span>
                    </div>
                    <% if(data.Quantity>0){ %>
                      <div class="product-action-1 show">
                        <% if(!data.carted){%>
                          <button aria-label="Add To Cart" class="action-btn hover-up" onclick="addToCart('<%= data._id %>'); Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Item Added Successfully To Cart',
                            showConfirmButton: false,
                            timer: 2000
                          })">
                            <i class="fi-rs-shopping-bag-add"></i>
                          </button>
                
                       <% }else{%>
                        <a href="/cart">
                       <button aria-label="View Cart"><i class="fa-sharp fa-solid fa-eye" style="color: #000000;"></i></button></a>
                       <% }%>
                        
                    </div>
                     <%}else{ %>
                      <div class="product-action-1 show">
                        <p class="text-danger" style="font-size: 12px;">out-of-stock</p>
                    </div>
                     <% } %>
                  </div>
                </div>
              </div>
              <% }) %>
            </div>
            <!--End product-grid-4-->
          
            <div class="container">
              <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                  <nav aria-label="Page">
                    <ul class="pagination">
                      <% for(let i=0;i<pages;i++) { %>
                        <li class="page-item "><a class="page-link bg-dark text-light rounded-circle" href="/?page=<%=i+1%>"><%=i+1%></a></li>
                      <% } %>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <!--En tab one (Featured)-->
         
          <!--En tab two (Popular)-->
         
          <!--En tab three (New added)-->
        </div>
        <!--End tab-content-->
      </div>
    </section>
       <section class="featured section-padding"> 
       <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
            <div class="banner-features wow fadeIn animated hover-up animated">
              <img src="assets/imgs/theme/icons/feature-1.png" alt="" />
              <h4 class="bg-1">Free Shipping</h4>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
            <div class="banner-features wow fadeIn animated hover-up animated">
              <img src="assets/imgs/theme/icons/feature-2.png" alt="" />
              <h4 class="bg-3">Online Order</h4>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
            <div class="banner-features wow fadeIn animated hover-up animated">
              <img src="assets/imgs/theme/icons/feature-3.png" alt="" />
              <h4 class="bg-2">Save Money</h4>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
            <div class="banner-features wow fadeIn animated hover-up animated">
              <img src="assets/imgs/theme/icons/feature-4.png" alt="" />
              <h4 class="bg-4">Promotions</h4>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
            <div class="banner-features wow fadeIn animated hover-up animated">
              <img src="assets/imgs/theme/icons/feature-5.png" alt="" />
              <h4 class="bg-5">Happy Sell</h4>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
            <div class="banner-features wow fadeIn animated hover-up animated">
              <img src="assets/imgs/theme/icons/feature-6.png" alt="" />
              <h4 class="bg-6">24/7 Support</h4>
            </div>
          </div>
        </div>
      </div> 
     </section>
   
    <section class="section-padding">
      <div class="container pb-20">
        <h3 class="section-title mb-20 wow fadeIn animated">
          <span>Featured</span> Brands
        </h3>
        <div
          class="carausel-6-columns-cover position-relative wow fadeIn animated"
        >
          <div
            class="slider-arrow slider-arrow-2 carausel-6-columns-arrow"
            id="carausel-6-columns-3-arrows"
          ></div>
          <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
            <div class="brand-logo">
              <img
                class="img-grey-hover"
                src="assets/imgs/banner/brand-1.png"
                alt=""
              />
            </div>
            <div class="brand-logo">
              <img
                class="img-grey-hover"
                src="assets/imgs/banner/brand-2.png"
                alt=""
              />
            </div>
            <div class="brand-logo">
              <img
                class="img-grey-hover"
                src="assets/imgs/banner/brand-3.png"
                alt=""
              />
            </div>
            <div class="brand-logo">
              <img
                class="img-grey-hover"
                src="assets/imgs/banner/brand-4.png"
                alt=""
              />
            </div>
            <div class="brand-logo">
              <img
                class="img-grey-hover"
                src="assets/imgs/banner/brand-5.png"
                alt=""
              />
            </div>
            <div class="brand-logo">
              <img
                class="img-grey-hover"
                src="assets/imgs/banner/brand-6.png"
                alt=""
              />
            </div>
            <div class="brand-logo">
              <img
                class="img-grey-hover"
                src="assets/imgs/banner/brand-3.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </section>
   
   
  <!-- </main> -->
  
   <script>
  function addToCart(proId){
    $.ajax({
      url:'/addToCart/'+proId,
      method:'get',
       success:(response)=>{
        if(response.status){
          let count=$('#cartCount').html()
          count = parseInt(count)+1;
          $('#cartCount').html(count)
        }
       }
    })
  }

  function addToWishlist(proId){
    $.ajax({
      url:'/wishList/'+proId,
      method:'get',
      success:(response)=>{
        if(response.status){
          let count =$('#wishListCount').html()
          count = parseInt(count)+1
          $('#wishListCount').html(count)
        }

      }
    })
  }

</script>
