<% if(wishlistItems.length==0){%>

    <div class="container-fluid  mt-100">

    
       
        <div class="card-body cart">
            <div class="col-sm-12 empty-cart-cls text-center">
              <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
              <h3><strong>Nothing to show</strong></h3>
              <br>
              <h4>Add Some :)</h4>
              <a href="/shop" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
              
            
            </div>
        </div>
    </div> 
        
      
      </div>
     
     </div>
    
    </div>
 
 
    <style>
     
     @import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);
 
 body {
     background-color: #eee;
     font-family: 'Calibri', sans-serif !important;
 }
 
 .mt-100{
    margin-top:100px;
 
 }
 
 
 .card {
     margin-bottom: 30px;
     border: 0;
     -webkit-transition: all .3s ease;
     transition: all .3s ease;
     letter-spacing: .5px;
     border-radius: 8px;
     -webkit-box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
     box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
 }
 
 .card .card-header {
     background-color: #fff;
     border-bottom: none;
     padding: 24px;
     border-bottom: 1px solid #f6f7fb;
     border-top-left-radius: 8px;
     border-top-right-radius: 8px;
 }
 
 .card-header:first-child {
     border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
 }
 
 
 
 .card .card-body {
     padding: 30px;
     background-color: transparent;
 }
 
 .btn-primary, .btn-primary.disabled, .btn-primary:disabled {
     background-color: #4466f2!important;
     border-color: #4466f2!important;
 }
    </style>
 <% }else { %>
<main class="main-wrap">
    <section class="mt-50 mb-50">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <div class="d-flex justify-content-center">
               
              </div>
              <table class="table shopping-summery text-center" id="">
                <thead>
                  <tr class="main-heading">
                    <th scope="col" colspan="2">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                    <th scope="col">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <% wishlistItems.forEach(function(wishlistItems){%>
                  <tr>
                    <td class="image product-thumbnail">
                     <a href="/fullImage/<%=wishlistItems.wishListed._id%>">
                        <img
                        src="/images/<%=wishlistItems.wishListed.Image[0] %>"
                        alt="#"
                      />
                     </a>
                    </td>
                    <td class="product-des product-name">
                      <h5 class="product-name">
                        <a href="/fullImage/<%=wishlistItems.wishListed._id%>" class="text-dark">
                          <%=wishlistItems.wishListed.ProductName%>
                        </a>
                      </h5>
                    </td>
                    <td class="price" data-title="Price">
                      <span>₹ <%=wishlistItems.wishListed.Price%> </span>
                     </td>
                    <td class="text-right" data-title="Cart">
                      <button
                        class="btn btn-sm bg-dark"
                        onclick="addToCart('<%=wishlistItems.wishListed._id%>');Swal.fire({
                          position: 'center',
                          icon: 'success',  
                          title: 'Product is successfully added to cart',
                          showConfirmButton: false,
                          timer: 1500
                        })"
                      >
                        <i class="fi-rs-shopping-bag mr-5"></i>Add to cart
                      </button>
                    </td>
                    <td class="action" cartItemss-title="Remove">
                      <button
                        class="text-muted"
                        onclick="removeItem('<%=wishlistItems._id%>','<%=wishlistItems.wishListed._id%>')"
                      >
                        <i class="fi-rs-trash"></i>
                      </button>
                    </td>
                  </tr>
                  <%}) %>
                </tbody>
                <%} %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="mobile-header-active mobile-header-wrapper-style">
      <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
          <div class="mobile-header-logo">
    
          </div>
          <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
            <button class="close-style search-close">
              <i class="icon-top"></i>
              <i class="icon-bottom"></i>
            </button>
          </div>
        </div>
        <div class="mobile-header-content-area">
          <div class="mobile-search search-style-3 mobile-header-border">
            <form action="#">
              <input type="text" placeholder="Search for items…" />
              <button type="submit"><i class="fi-rs-search"></i></button>
            </form>
          </div>
          <div class="mobile-menu-wrap mobile-header-border">
         
            <!-- mobile menu start -->
            <nav>
              <ul class="mobile-menu">
                <li class="menu-item-has-children">
                  <span class="menu-expand"></span><a href="/">Home</a>
                </li>
                <li class="menu-item-has-children">
                  <span class="menu-expand"></span><a href="/shop">Shop</a>
                </li>
                <li class="menu-item-has-children">
                  <span class="menu-expand"></span><a href="#">Orders</a>
                </li>
                
                <!-- <li class="menu-item-has-children">
                    <span class="menu-expand"></span><a href="#">Language</a>
                    <ul class="dropdown">
                      <li><a href="#">English</a></li>
                      <li><a href="#">French</a></li>
                      <li><a href="#">German</a></li>
                      <li><a href="#">Spanish</a></li>
                    </ul>
                  </li> -->
              </ul>
            </nav>
            <!-- mobile menu end -->
          </div>
       
        </div>
    
      </div>
     </div>
    </div>
  </main>

  <script>
    function addToCart(proId){
      $.ajax({
        url:'/addToCart/'+proId,
        method:'get',
         success:(response)=>{
          if(response.status){
            let count=$('#cartCount').html()
            count = parseInt(count)+1;
            $('#cartCount').html(count)
          }
         }
      })
    }
    function removeItem(wishListId,proId,){
        Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!',
    }).then((result) => {
        if (result.isConfirmed) {
        $.ajax({
            url:'/remove-item',
            data:{wishListId,proId,},
            method:'delete',
            success:((response)=>{
                if(response.status){
                    location.reload()
                }
            })
        })
        Swal.fire(
          'Deleted!',
          'Product is deleted from the wishlist.',
          'success'
        );
    }

    })
       
    }
    </script>